@tailwind base;
@tailwind components;
@tailwind utilities;

.taskbox {
  box-shadow: 0px 0px 8px 0px #3659e229;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sidebar {
  box-shadow: 0px 0px 8px 0px #3659e229;
}
